package templates

import (
    "github.com/medeirosvictor/routiny/templates/components"
    "github.com/medeirosvictor/routiny/dto"
)

templ Home(tasks []*dto.TaskDto) {
    @Layout() {
		<section class="flex flex-col justify-center max-w-[720px] max-h-[100vh]">
            
            @components.AddTaskForm()

            <section class="text-xl">
                @components.TasksList(tasks)
            </section>
		</section>
	}
}
