package templates

import "github.com/medeirosvictor/routiny/templates/components"

templ Home() {
    @Layout() {
		<section class="flex flex-col justify-center max-w-[720px] h-[100vh]">
			Welcome to a small habit tracker

            @components.AddTaskForm()
		</section>
	}
}
