package templates

import "github.com/medeirosvictor/rollover/templates/common"

templ Layout() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="/static/js/htmx.min.js"></script>
			<link rel="stylesheet" href="/static/css/output.css"/>
			<title>Rollover</title>
		</head>
		<body>
			<header class="flex justify-center">
				@common.Header()
			</header>
			<main class="flex flex-col justify-center items-center gap-5">
				{ children... }
			</main>
		</body>
	</html>
}
