package templates

import (
    "github.com/medeirosvictor/routiny/templates/common"
    "github.com/medeirosvictor/routiny/templates/components"
)

templ Layout() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="/static/js/htmx.min.js"></script>
			<link rel="stylesheet" href="/static/css/output.css"/>
			<title>Routiny</title>
		</head>
		<body>
			<header class="flex flex-col items-center justify-center">
				@common.Header()
                @components.Clock()
			</header>
			<main class="flex flex-col justify-center items-center">
				{ children... }
			</main>
		</body>
	</html>
}
