package components

import (
	"time"
)
// Time returns the current time
func Time() time.Time {
	return time.Now()
}

// TimeFormat returns the current time in the given format
func TimeFormat(format string) string {
	return Time().Format(format)
}

templ Clock() {
    <div>
    <p>The current time is: {{ TimeFormat("15:04:05") }}</p>
    </div>
}