package components

import (
    "github.com/medeirosvictor/routiny/dto"
    "strconv"
)

templ TaskTile(task dto.TaskDto) {
    <div class="flex gap-4 bg-white p-4 rounded-lg shadow-sm mb-4" id={"task" + task.ID} data-is-done={strconv.FormatBool(task.Done)}>
        <p>{task.Text}</p>

       <span class="cursor-pointer font-bold "
            hx-post={"/remove-task?id=" + task.ID}
            hx-swap="outerHTML"
            hx-target={"#task" + task.ID}
            hx-trigger="click"
            hx-confirm="Are you sure you want to delete this task?"
        >x</span>
    </div>
}